<body>
	<h1> bookmark manager </h1>
	<% if current_user %>
		Welcome, <%= current_user.email %>	
	<% end %>

	<% if flash[:error] %>
  		<div id="notice"><%= flash[:error] %></div>
	<% end %>

	<%= yield %>

	<% if @notice %>
  		<div id="notice"><%=@notice %></div>
	<% end %>

	<% if flash[:errors] && !flash[:errors].empty? %>
  		Sorry, there were the following problems with the form. 
  	<ul id="errors">
    <% flash[:errors].each do |error| %>
      	<li><%= error %></li>
    <% end %>
  </ul>
<% end %>

</body>