<body>
	<h1> bookmark manager </h1>
	<% if current_user %>
		Welcome, <%= current_user.email %>	
	<% end %>

	<% if flash[:error] %>
  		<div id="notice"><%= flash[:error] %></div>
	<% end %>

	<%= yield %>

	<% if @notice %>
  		<div id="notice"><%=@notice %></div>
	<% end %>

	<% if flash[:errors] && !flash[:errors].empty? %>
  		Sorry, there were the following problems with the form. 
  	<ul id="errors">
    	<% flash[:errors].each do |error| %>
      		<li><%= error %></li>
    	<% end %>
  	</ul>
	<% end %>

	<% if current_user %>
		Welcome, <%= current_user.email %> 
		<form method="post" action="/sessions">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Sign out">
		</form>
	<% end %>

	<% if flash[:notice] %>
    	<div id="notice"><%= flash[:notice] %></div>
  <% end %>

</body>